.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #0a130a9e;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dialog {
  width: 400px;
  height: 400px;
  background: #fff;
  padding: 25px;
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.close {
  cursor: pointer;
}
