* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h3 {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background: #c2f0f0;
  height: 75px;
  text-align: center;
}

main {
  flex: 1;
  background: #cff0c2;
  padding: 20px 40px;
}

.col-2 {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.carts-list {
  max-width: 60%;
  width: 100%;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 8px;
  margin-bottom: 20px;
}
.cart-title {
  margin-right: 10px;
  font-weight: bold;
}
.cart-quantity {
  display: flex;
  align-items: center;
}
.cart-quantity input {
  border: none;
  background: transparent;
  margin: 0 6px;
  text-align: center;
  width: 25px;
}

.total {
  background: #fff;
  width: calc(40% - 10px);
  padding: 20px;
}
.total-price {
  margin-bottom: 10px;
}

.plus-btn {
  position: relative;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #095776;
}
.plus-btn:after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: #095776;
  top: 50%;
  left: 50%;
}
.plus-btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #095776;
  height: 50%;
  width: 4px;
}

.minus-btn {
  position: relative;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #095776;
}
.minus-btn:after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: #095776;
  top: 50%;
  left: 50%;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(10, 19, 10, 0.6196078431);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.overlay:not(.show) {
  display: none;
}

.dialog {
  width: 400px;
  height: 400px;
  background: #fff;
  padding: 25px;
}
.dialog--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close {
  cursor: pointer;
}

.getGender-female, .getGender-male {
  margin-top: 15px;
}
.getGender-female:not(.show), .getGender-male:not(.show), .getGender-age:not(.show) {
  display: none;
}